
App.config
appsettings.json
appsettings.Development.json

.vs/

[Bb]in/
[Oo]bj/

*.mdf
*.ldf

*.suo
*.user
*.userosscache
*.sln.docstates

BenchmarkDotNet.Artifacts/
TestResults/
*.trx
*.vstest

project.lock.json
project.fragment.lock.json
artifacts/
pkgs/
obj/

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride